<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cuutro"
        android:usesCleartextTraffic="${usesCleartextTraffic}">
        <activity
            android:name=".features.chat.ui.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".features.report.ui.DetailReportActivity"
            android:exported="false" />
        <activity
            android:name=".features.splash.ui.NotificationScreenActivity"
            android:exported="false" />
        <activity
            android:name=".features.splash.ui.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".features.setting.ui.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.ui.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".features.sos.ui.SosActivity"
            android:exported="false" />
        <activity
            android:name=".features.community.ui.AddNewCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".features.report.ui.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".features.splash.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.main.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".features.profile.ui.AccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".features.navigation.ui.CaptainNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".features.navigation.ui.NavActivity"
            android:exported="false" />
    </application>

</manifest>
